####1st Question

In [ ]:
import pandas as pd
vegetables = pd.read_csv("main.csv")
vegetables.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [ ]:
vegetables.groupby('product_description')['price'].mean()

product_description
apple           2.077778
butter-0.25    11.400000
cucumber        4.532857
grape           4.400000
milk-1.5        6.078571
onion           2.150714
orange          2.714286
plum            4.389655
tomato          3.121034
yogurt-1        6.693103
Name: price, dtype: float64

In [ ]:
vegetables["price_new"] = vegetables['price'].fillna(
   vegetables.groupby('product_description')['price'].transform("mean")
)

In [ ]:
vegetables[vegetables["price"].isna()].head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
10,1001,tomato,vegetable,2021-11-11,NaN,20,kg,3.121034
34,1002,cucumber,vegetable,2021-11-05,NaN,24,kg,4.532857
37,1002,cucumber,vegetable,2021-11-08,NaN,38,kg,4.532857
73,1003,onion,vegetable,2021-11-14,NaN,39,kg,2.150714
74,1003,onion,vegetable,2021-11-15,NaN,25,kg,2.150714

In [ ]:
vegetables.to_csv('question1_output',index=False)

####2nd question

In [ ]:
vegetables["sales_amount"] = vegetables["sales_quantity"].where(
    vegetables["unit"] != "pcs",
    vegetables["product_description"].str.split("-", expand=True)[1].astype("float") * \
    vegetables["sales_quantity"]
    )

In [ ]:
vegetables.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new,sales_amount
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs,11.9,7.75
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs,11.9,7.25
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs,11.9,9.25
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs,11.9,8.50
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs,11.9,9.00

In [ ]:
vegetables.to_csv('question2_output',index=False)